/*Gesamte Seite*/
.flexbox_Seite{
    display: flex;
    flex-direction: column;
}
/* Hauptinhalt / Benachrichtigungen*/
.flexbox_Information {
    display: flex;
    flex-direction: row;
}
/* Hauptinhalt */
.flexbox_Inhalt {
    display: flex;
    flex-direction: column;
}

.startseite_Flexbox{
    display:flex;
    flex-wrap: wrap;
}

.flexbox_Information aside{
    flex: 1;
}

.flexbox_Information main{
    flex: 3;
}

@media screen and (max-width: 768px){
    div.flexbox_Information{
        flex-direction: column;
    }
}