<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="grid-container">
    <a th:href="@{/}"><h1>Wilkommen auf Travelcation</h1></a>
        <main>
            <div th:switch="${user}">
                <div th:case="0">
                    <h2 th:if="${#lists.isEmpty(reise)}">Kein Reise gefunden</h2>
                        <div th:if="${not #lists.isEmpty(reise)}">
                            <h2>Gebuchte Reisen</h2>
                            <table>
                                <thead>
                                    <th>ReiseID</th>
                                    <th>Beschreibung</th>
                                    <th>Ort</th>
                                    <th>Region</th>
                                    <th>Land</th>
                                    <th>Kosten</th>
                                    <th>Jahreszeit</th>
                                </thead>
                                <thboy>
                                    <tr th:each="reis :${reise}">
                                        <td th:text="${reis[0]}"></td>
                                        <td th:text="${reis[1]}"></td>
                                        <td th:text="${reis[2]}"></td>
                                        <td th:text="${reis[3]}"></td>
                                        <td th:text="${reis[4]}"></td>
                                        <td th:text="${reis[5]}"></td>
                                        <td th:text="${reis[6]}"></td>
                                        <div th:if="${not #lists.isEmpty(reis[7])}">
                                            <div th:each="akti : ${reis[7]}">
                                                <td th:text="${akti[0]}"></td>
                                                <td th:text="${akti[1]}"></td>
                                            </div>    
                                        </div>
                                    </tr>
                                </thboy>
                            </table>
                        </div>
                        <form action="#" data-th-action="@{/login-form}" method="POST">
                            <button type="submit">Login</button>
                        </form>
                        <form data-th-action="@{/register-form}" method="POST">
                            <button type="submit">Registrieren</button>
                        </form>
                </div>
                <div th:case="*">
                    <h1 th:text="'Hallo '+${user.vorname}"></h1>
                    <h2 th:if="${#lists.isEmpty(reise)}">Keine Reise gefunden</h2>
                        <div th:if="${not #lists.isEmpty(reise)}">
                            <table>
                                <thead>
                                    <th>ReiseID</th>
                                    <th>Beschreibung</th>
                                    <th>Ort</th>
                                    <th>Region</th>
                                    <th>Land</th>
                                    <th>Kosten</th>
                                    <th>Jahreszeit</th>
                                </thead>
                                <thboy>
                                    <tr th:each="reis :${reise}">
                                        <td th:text="${reis[0]}"></td>
                                        <td th:text="${reis[1]}"></td>
                                        <td th:text="${reis[2]}"></td>
                                        <td th:text="${reis[3]}"></td>
                                        <td th:text="${reis[4]}"></td>
                                        <td th:text="${reis[5]}"></td>
                                        <td th:text="${reis[6]}"></td>
                                        <div th:if="${not #lists.isEmpty(reis[7])}">
                                            <div th:each="akti : ${reis[7]}">
                                                <td th:text="${akti[0]}"></td>
                                                <td th:text="${akti[1]}"></td>
                                            </div>    
                                        </div>
                                    </tr>
                                </thboy>
                            </table>
                        </div>
                        <h3>Reise buchen</h3>
                        <form th:action="@{/reiseBuchen}" th:object="${Suchanfrage0}" method="POST">
                            ReiseNr: <select th:field="*{option}">
                                <option th:each="i : ${reisenr}" th:value="${i}" th:text="${i}"></option>
                            </select>
                            <div>
                                <input type="date" th:field="*{von}">
                                <input type="date" th:field="*{bis}">
                            </div>
                            <button type="submit">Reise buchen</button>
                        </form>
                </div>
                <form th:action="@{/ZeigBewertung}" method="post" th:object="${Suchanfrage1}">
                    <h3>Aktitvät Bewertungen</h3>
                    Aktivität:<select th:field="*{option}">
                        <option th:each="i: ${AID}" th:value="${i}" th:text="${i}"></option>
                    </select>
                    <button type="submit">Bewertungen anzeigen</button>
                </form>
                <div th:switch="${Bewertung}">
                    <div th:case="0"></div>
                    <div th:case="*">
                        <h2 th:if="${#lists.isEmpty(Bewertung)}">Keine Bewertung für diese Aktivität gefunden</h2>
                        <div th:if="${not #lists.isEmpty(Bewertung)}">
                            <div th:each="bew : ${Bewertung}">
                                <p th:text="${bew}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="#" th:action="@{/logout}" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </main>    
</body>
</html>