<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/flex.css">
    <link rel="stylesheet" type="text/css" href="/css/grid.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script type="text/javascript" src="/js/test.js"></script>
    <title>Home</title>
</head>
<body class="grid-container">
    <header>
        <ol class="menu-options">
            <li class="menu-items">Option 1</li>
            <li class="menu-items">Option 2</li>
            <li class="menu-items">Option 3</li>
        </ol>
        <button class="menu-button">
            Button 1
        </button>
        <button class="menu-button">
            Button 2
        </button>
        <p id="test" th:text="'Hello ' + ${name} + '! Hier soll später nen Logo hin'" /> 
    </header>
    <nav>
        <form action="../../../../../../../../OneDrive/Desktop" method="POST">
            <input type="text"/>
            Sortieren nach:
            <select class="sort-options">
                <option value="Ziel">Ziel</option>
                <option value="Airline">Airline</option>
                <option value="Hotel">Hotel</option>
                <option value="Bewertung">Bewertung</option>
            </select>
            <select>
                <option value="Aufsteigend">Aufsteigend</option>
                <option value="Absteigend">Absteigend</option>
            </select>
            <button type="submit">
                Suchen
            </button>
        </form>
    </nav>
    <main>
        <div class="reisen">
            <p>Ziel, Airline, Hotel, Bewertung</p>
        </div>
        <div class="reisen">
            <p>Ziel, Airline, Hotel, Bewertung</p>
        </div>
        <div class="reisen">
            <p>Ziel, Airline, Hotel, Bewertung</p>
        </div>
    </main>
    <aside>
        Aside 
    </aside>
    <footer>
        Footer
    </footer>
</body>
</html>