<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body class="grid-container">
    <h1>Wilkommen auf Travelcation</h1>
        <main>
            <div th:switch="${ar}">
                <div th:case="null">
                    <form action="#" data-th-action="@{/login-form}" method="get">
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div th:case="*">
                    <div th:switch="${ar[0].rolle}">
                        <div th:case="0">
                            <h1 th:text="'Hallo '+${ar[0].vorname}"></h1>
                            <h2 th:if="${#lists.isEmpty(ar[1])}">Es sind noch keine Reisen gebucht</h2>
                            <div th:if="${not #lists.isEmpty(ar[1])}">
                                <h2>Gebuchte Reisen</h2>
                                        <table>
                                            <thead>
                                                <th>Beschreibung</th>
                                                <th>Ort</th>
                                                <th>Region</th>
                                                <th>Land</th>
                                                <th>Von</th>
                                                <th>Bis</th>
                                                <th>Kosten</th>
                                            </thead>
                                            <thboy>
                                                <tr th:each="reis :${ar[1]}">
                                                    <td th:text="${reis[0]}"></td>
                                                    <td th:text="${reis[1]}"></td>
                                                    <td th:text="${reis[2]}"></td>
                                                    <td th:text="${reis[3]}"></td>
                                                    <td th:text="${reis[4]}"></td>
                                                    <td th:text="${reis[5]}"></td>
                                                    <td th:text="${reis[6]}"></td>
                                                </tr>
                                            </thboy>
                                        </table>
                            </div>
                        </div>
                        <div th:case="1">
                            <h1 th:text="'Hallo Admin '+${ar[0].vorname}"></h1>
                        </div>
                    </div>
                    <form action="#" data-th-action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
            <nav>
                <form action="#" data-th-action="@{/search}" method="POST">
                    <button type="submit">Suchen</button>
                </form>
            </nav>
        </main>    
</body>
</html>